<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BalancingRobotUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BalancingRobotUI.Properties.Settings>
            <setting name="LastSerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LastBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="LastKpPID1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKpPID2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKpPID3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKiPID1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKiPID2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKiPID3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKdPID1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKdPID2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKdPID3" serializeAs="String">
                <value />
            </setting>
        </BalancingRobotUI.Properties.Settings>
    </userSettings>
</configuration>
